// variables
$black_color: rgba(0, 0, 0, 0.87);
$white_color: rgb(255, 255, 255);
$default_font_size: 1.6rem;
$orange_color:#cd5639;
// fonts
@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../fonts/Poppins-SemiBold.ttf');
}
// mixins
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

// clear default values

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// To clear focus
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html {
  font-size: 62.5%; //  10/16 => 1rem
  scroll-behavior: smooth; //  For smooth scrolling

  // To include Mixins
  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Poppins Regular';
  letter-spacing: .05rem;
}
a{
  &:hover{
    text-decoration: none;
    color: black;
  }
}
.common_section_padding{
  padding: 3rem;
}